/*
Bootstrap CSS customization
NO SHADOW, WE DON'T NEED SHADOW ANYWAY.
*/

@import "buttons.css";
@import "labels.css";

body {
    padding-top: 95px;
    padding-bottom: 75px
}

.container-fluid {
    margin-left: 98px;
    margin-right: 98px;
}

.navbar-nav>li>a,
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
    line-height: 80px
}

.navbar-nav>li:active,
.navbar-nav>li:hover {
    border-bottom: .5px solid #007bff!important
}

.navbar-form {
    margin-top: 23px
}

.dropdown {
    position: relative
}

a:link,
a:visited {
    text-decoration: none;
    color: #007bff
}

a:active,
a:hover {
    text-decoration: none;
    color: #0056b3
}

.dropdown-menu,
.form-control:focus {
    box-shadow: none !important;
    transition: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
    background-color: #007bff;
}

.text-danger,
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #d9534f!important
}

.has-error .form-control {
    border-color: #d9534f!important
}

.form-control:focus {
    border-color: #007bff
}

.breadcrumb {
    background-color: transparent;
    padding: 0
}

.breadcrumb>li+li::before {
    content: '\3E'
}

.pagination>.page-item.active>span {
    background-color: #007bff
}

.pagination>.page-item>a {
    color: #007bff
}

.list-group-item.active,
.list-group-item.active:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item.active>.badge {
    color: #007bff;
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover
{
    border-color: #007bff;
}

/* CSS cho forum */
.media-content /* a.k.a nội dung của thread, post được căn đều */
{
	text-align: justify;
}
.pull-right /* làm cho element chạy sang phải */
{
	float: right;
}
.page-title>small, .media-body>small, .media-box>small
{
	font-style: italic;
}
.media-box
{
	border: 0.5px solid #ccc;
	border-radius: 6.25px;
	margin-bottom: 15px;
	padding: 20px 20px 20px 20px;
}
.media-box:hover
{
	border-width: 0.75px;
	border-color: #007bff;
	transition: ease-in-out .15s;
}
.notify-title
{
	text-align: center;
}
blockquote>footer
{
	font-style: italic;
}
.nav-tabs
{
	margin-bottom: 10px;
}
.form-inline {
    margin-bottom: 10px;
}
